/* Vertically and Horizontally Center element using Absolute Positioning */
.centerPos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Vertically and Horizontally Center elements using Flexbox. Applied to parent element */
.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sets up text to be used as gradient text. Use background: -webkit-linear-gradient() to set gradient*/
.gradText {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}